<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    @using Microsoft.AspNetCore.Components.Web
    <HeadOutlet />
</head>

<body>
    @using QuestionBank.Web.Components
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
